[Unit]
Description=openQA trigger uWSGI instance
After=network.target

[Service]
User=geekotest
Group=www
WorkingDirectory=/var/lib/openqa/tests/qubesos/api
EnvironmentFile=-/etc/default/gitlab-api
ExecStartPre=!/bin/mkdir -p /var/run/gitlab-api
ExecStartPre=!/bin/chown geekotest /var/run/gitlab-api
ExecStart=/usr/sbin/uwsgi --ini gitlab-api.ini

[Install]
WantedBy=multi-user.target
